<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.Listeners"/>
        <listener class-name="Utils.ExtentReporterNG"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/asaf.mishaeli/Development/GrTest">
        <classes>
            <class name="tests.AndroidUpdate">
                <methods>
                    <include name="testUpgradeDemoDMUser"/>
                    <include name="testUpgradeDemoDMUser2"/>
                </methods>
            </class>

        </classes>


    </test>
</suite>